
html {
  height: 100%;
}

body {
  color: black;
  background-color: white;
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.main {
	float: left;
	width: 100%;
	margin: 0 auto;
}

.productFrame{
	position: relative;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
	background-color: lightgray;
}

.productPicture{
	float: left;
	width: 50%;
	height: 450px;
	background-color: white;
}

.productInfo{
	float: right;
	width: 50%;
	height: 450px;
	background-color: white;
}

.smartComments{
	float: left;
	width: 100%;
	height: 750px;
	background-color: white;
}

.sortButtons{
    padding-left: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 
.horizontalChart{
  height: 60px;
  background-color: white;
}

.textBox{
  margin-left: 25px;
  width: 800px;
  height: 300px;
  overflow-y: auto;
  background-image: linear-gradient(gold 0%, white 100%);
  /* //#9FBFD2 100%); */
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

