

html {
  height: 100%;
}

body {
  color: black;
  background-color: white;
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

h4 {
  font-size: 20px;
  font-weight: bold; 
}

.main {
	float: left;
	width: 100%;
	margin: 0 auto;
}

.productFrame{
	position: relative;
	margin-left: auto;
  margin-right: auto;
  width: 100%;
	background-color: white;
}

.productPicture{
	float: left;
	width: 50%;
	height: 450px;
	background-color: white;
}

.productInfo{
	float: right;
	width: 50%;
	height: 450px;
	background-color: white;
}

.smartComments{
	float: left;
	width: 100%;
	height: 630px;
	background-color: white;
}

.sortButtons{
    padding-left: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sortLegend{
  height: 30;
}

.horizontalChart{

  height: 60px;
  background-color: white;
}

.answerChart{
  height: 60;
}

.textBox{
  margin-left: 25px;
  width: 800px;
  height: 250px;
  background-image: linear-gradient(lightgray 0%, white 50%);
  border-width: 5px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#66CCFF), to(rgba(255, 255, 255, 0))) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(#66CCFF, rgba(255, 255, 255, 0)) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(#66CCFF, rgba(255, 255, 255, 0)) 1 100%;
  -moz-border-image: -moz-linear-gradient(#66CCFF, rgba(255, 255, 255, 0)) 1 100%;
  -o-border-image: -o-linear-gradient(#66CCFF, rgba(255, 255, 255, 0)) 1 100%;
  border-bottom-style:none;
  border-bottom-color: white;
  /* border-image: linear-gradient(to bottom, #66CCFF, rgba(255, 255, 255, 0)) 1 100%; */
}

.answerBox{
  margin-left: 25px;
  width: 400px;
  height: 210px;
  background-image: linear-gradient(lightgray 0%, white 50%);
  border-width: 5px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#66CCFF), to(rgba(255, 255, 255, 0))) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(#66CCFF, rgba(255, 255, 255, 0)) 1 100%;
  -moz-border-image: -moz-linear-gradient(#66CCFF, rgba(255, 255, 255, 0)) 1 100%;
  -o-border-image: -o-linear-gradient(#66CCFF, rgba(255, 255, 255, 0)) 1 100%;
  border-bottom-style:none;
  border-bottom-color: white;
  /* border-image: linear-gradient(to bottom, #66CCFF, rgba(255, 255, 255, 0)) 1 100%; */
}

.textInfo{
overflow-y:auto;
  width: 800px;
  height: 150px;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


