* {
  margin: 0px;
}

body {
  margin: 10px;
}

div.headline{
  margin: 10px;
}

h1 {
  text-align: center;
  font-size: 24px;
}

div.topbars {
  height: 50px;
}

div.answer {
  background-image: linear-gradient(white 0%, #9FBFD2 100%);
}

p.data {
  font-size: 16px;
  text-align: center;
}